.gameover {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: min(100%, 50rem);

  padding: 3rem;
  border-radius: 10px;

  border: 2px solid var(--clr-gameover-border);
  background-color: var(--clr-gameover-bg);
  
  opacity: 0;
}

.gameover--visible {
  animation: slideIn .75s 1s ease-in-out forwards;
}

.gameover__title {
  font-size: 3rem;
  letter-spacing: 1.2;
  margin-bottom: 2rem;
}

.gameover__info {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.gameover__word {
  font-size: 2.5rem;
  color: var(--clr-gameover-word) !important;
}

.gameover__restart-btn {
  text-transform: inherit;
  font-size: 1.5rem;
  padding: .75rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: var(--clr-gameover-button);
  color: var(--clr-gameover-button-txt);
  cursor: pointer;
}

.gameover__restart-btn:hover {
  background-color: var(--clr-gameover-button--hover);
}

@keyframes slideIn {
  from {
    visibility: visible;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}