.guess {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  width: 30rem;
}

.guess__tile {
  aspect-ratio: 1;
  border: 2px solid var(--clr-tile-border--empty);
  display: grid;
  place-items: center;
  font-size: 3.2rem;
}

.guess__tile--full {
  border-color: var(--clr-tile-border--full);
}

.guess__tile--correct {
  --tile-color: var(--clr-correct);
}

.guess__tile--present {
  --tile-color: var(--clr-present);
}

.guess__tile--absent {
  --tile-color: var(--clr-absent);
}

.guess__tile--submitted {
  transform-origin: center;
  animation: tileFlip .75s ease-in-out forwards;
}

/* todo has work todo */
@keyframes tileFlip {
  0% {
    background-color: transparent;
    transform: scale(1, 1);
  }
  
  49.9% {
    background-color: transparent;
    transform: scale(1, 0.01);
  }

  50% {
    background-color: transparent;
    transform: scale(1, 0);
  }

  50.1% {
    background-color: var(--tile-color);
    transform: scale(1, 0);
  }

  100% {
    background-color: var(--tile-color);
    transform: scale(1, 1);
  }
}