.guess {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.guess__tile {
  width: 52px;
  aspect-ratio: 1;
  border: 2px solid var(--clr-tile-border--empty);
  display: grid;
  place-items: center;
  font-size: 3.2rem;
}

.guess__tile--full {
  border-color: var(--clr-tile-border--full);
  animation: pulse 60ms ease-in-out;
}

.guess__tile--correct {
  --tile-color: var(--clr-correct);
}

.guess__tile--present {
  --tile-color: var(--clr-present);
}

.guess__tile--absent {
  --tile-color: var(--clr-absent);
}

.guess__tile--submitted {
  transition-property: border-color, background-color, color;
  transition-delay: 200ms;
  color: var(--clr-tile-text--full) !important;
  background-color: var(--tile-color);
  border-color: var(--tile-color);
  transform-origin: center;
  animation: tileFlip 400ms ease-in-out forwards;
}



@keyframes tileFlip {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.1);
  }
}