.guess {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.guess__tile {
  aspect-ratio: 1;
  border: 2px solid var(--clr-tile-border--empty);
  display: grid;
  place-items: center;
  font-size: 3.2rem;
}

.guess__tile--full {
  border-color: var(--clr-tile-border--full);
}

.guess__tile--correct {
  --tile-color: var(--clr-correct);
}

.guess__tile--present {
  --tile-color: var(--clr-present);
}

.guess__tile--absent {
  --tile-color: var(--clr-absent);
}

.guess__tile--submitted {
  transform-origin: center;
  animation: tileFlip 1.5s linear forwards;
}

@keyframes tileFlip {
  0% {
    transform: scaleY(1);
  }
  
  50% {
    transform: scaleY(0);
    background-color: transparent;
  }
  51% {
    background-color: var(--tile-color);
  }

  100% {
    transform: scaleY(1);
  }
}