@import url('./utils/reset.css');
@import url('./utils/colors.css');
@import url('./utils/fonts.css');

@import url('./components/guess.css');
@import url('./components/popups.css');
@import url('./components/gameover.css');
@import url('./components/keyboard.css');

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100dvh;

  padding: 1rem;

  background-color: var(--clr-bg);
  
  font-family: var(--ff-main);
  text-transform: uppercase;

  color: var(--clr-text);

  user-select: none;
}

.title {
  font-size: 4.25rem;
  letter-spacing: 0.3rem;
  margin-right: 5rem;
}

.game {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
  padding: 10px;
}

#theme-toggler {
  display: none;
}

.theme-radio {
  position: absolute;
  right: 1.5rem;
  top: 2rem;
  height: 3rem;
  width: 6rem;
  border-radius: 3rem;
  border: 2px solid var(--clr-text);
  cursor: pointer;
}

.theme-radio::after {
  content: '';
  position: absolute;
  height: 90%;
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: var(--clr-text);
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  transition: all 250ms ease-in-out;
}

.theme-radio:has( > #theme-toggler:checked)::after {
  left: 55%;
}

@media (min-width: 550px) {
  .title {
    margin: 0;
  }
}